//////////////////////////////
// fonts
// body
$body-font-size: 14px;
// icons
$icon-font-size: 24px;

// family
$font-family-primary: 'Nunito', sans-serif;
// titles
$font-family-secondary: 'Nunito', sans-serif;

//////////////////////////////
// width boxed
$max-width-container-page: 1200px;

// width menu
$width-menu: 300px;
$width-menu-icons: 70px;

//////////////////////////////
// header
$header-height: 65px;

//////////////////////////////
// breakpoints
$screen-xs: 360px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1365px;
$screen-hd: 1600px;