/////////////////////////////
//header
.header {
    padding: 15px 25px;
	height: $header-height;
	z-index: 1;
	position: relative;
	@include lg {
		padding: 15px 40px;
	}
	&--auto {
		height: auto;
	}
}

@each $colorClass, $value in $mixClass-palette {
	.header_#{$colorClass} {
        @extend .header;
		background-color: map-get($value, 'bg');
		color: map-get($value, 'color');
	}
}