//chart pie
.chart_pie {
    position: relative;
    height: 100px;
    width: 100px;
}
.chart_pie-md {
    position: relative;
    height: 150px;
    width: 150px;
}
.chart_pie-lg {
    position: relative;
    height: 200px;
    width: 200px;
}
.chart_pie__label {
    @include position(absolute, 0, 0, 0, 0,  100%,  100%);
    @include corner(100%);
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.chart_pie__svg {
    width: 100%;
    margin: 0 auto;
    @include transform(rotate(-90deg));
    @include corner(200%);
    @include transition(0.3s);
    display: block;
}
.chart_pie__svg stop {
    @include transition(0.3s);
}
.chart_pie__svg-data {
    fill: none;
    stroke-dasharray: 0 100;
    stroke-width: 2;
    stroke-miterlimit: 10;
    @include transition(0.3s);
}
.chart_pie__svg-fill {
    fill: none;
    stroke-dasharray: 100 100;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: rgba($color: $lighter-color, $alpha: 1);
    @include transition(0.3s);
}
//thin
.chart_pie__svg--thin .chart_pie__svg-data
.chart_pie__svg--thin .chart_pie__svg-fill {
    stroke-width: 1.2;
    stroke-width: 1.2;
}
//medium
.chart_pie__svg--medium .chart_pie__svg-data,
.chart_pie__svg--medium .chart_pie__svg-fill {
    stroke-width: 4;
}
//wide
.chart_pie__svg--wide .chart_pie__svg-data,
.chart_pie__svg--wide .chart_pie__svg-fill {
    stroke-width: 8;
}

/////////////////////////////
// color
//format
@each $colorClass, $value in $chartPie-palette {
    .chart_pie__svg--#{$colorClass} .chart_pie__svg-start-color {
		stop-color: map-get($value, 'start-color');
	}
    .chart_pie__svg--#{$colorClass} .chart_pie__svg-end-color {
		stop-color: map-get($value, 'end-color');
	}
    .chart_pie__svg--#{$colorClass} .chart_pie__svg-fill {
        stroke:  map-get($value, 'fill-color');
    }
    .chart_pie__svg--#{$colorClass} ~ .chart_pie__label {
        color:  map-get($value, 'start-color');
    }
    .chart_pie__svg-data-#{$colorClass} {
        @extend .chart_pie__svg-data;
        stroke: url(#chart_pie-#{$colorClass});
    }
}
@each $colorClass, $value in $colorClass-palette {
	.chart_pie__label-#{$colorClass} {
        @extend .chart_pie__label;
		color: $value; 
	}
}