/////////////////////////////
//divider
@mixin divider-atr($size: "") {
    .divider#{$size} {
        display: block;
        outline: 0;
        border: 0;
        width: 100%;
        height: 1px;
        background-color: $split-color;
    }
	.divider_vertical#{$size} {
        display: block;
        outline: 0;
        border: 0;
        width: 1px;
        background-color: $split-color;
	}
}

@include divider-atr();
@include sm {
	@include divider-atr("--sm");
}
@include md {
	@include divider-atr("--md");
}
@include lg {
	@include divider-atr("--lg");
}
@include xl {
	@include divider-atr("--xl");
}

/////////////////////////////
//format colors
@each $colorClass, $value in $colorClass-palette {
	.divider_#{$colorClass} {
        @extend .divider;
		background-color: $value;
	}
    .divider_vertical-#{$colorClass} {
        @extend .divider_vertical;
		background-color: $value;
	}
    .divider_soft-#{$colorClass} {
        @extend .divider;
        background-color: rgba($color: $value, $alpha: 0.4);
	}
    .divider_vertical-soft-#{$colorClass} {
        @extend .divider_vertical;
        background-color: rgba($color: $value, $alpha: 0.4);
	}
}

//size
.split {
    height: 6px;
}