.flip{
    perspective: 1200px;
   
    .flip__content{
        display: grid;
        transform-style: preserve-3d;
        @include transition(0.5s);
        background-color: transparent;
    }

    .flip__content_rounded-sm{
        @include corner(10px);
    }

    .flip__back,.flip__front{
       grid-column: 1;
       grid-row: 1;
       backface-visibility: hidden;
       height: 100%;
    }

    .flip__back{
        transform: rotateY(180deg);
    }

    &.active .flip__content{
        transform: rotateY(180deg);
    }
}

// background
.flip__back,
.flip__front {
    color: $light-color;
    border: 1px solid transparent;
}
.flip__front {
    background-color: #f1be4e;
    border-color: #f4d49d;
    color: #525252;
}
.flip__back {
    background-color: #f4d49d;
    border-color: #f1be4e;
    color: #525252;
}
.flip_background .flip:nth-child(4n+1) .flip__front {
    background-color: $primary-color;
    border-color: $primary-color;
}
.flip_background .flip:nth-child(4n+2) .flip__front {
    background-color: $secondary-color;
    border-color: $secondary-color;
}
.flip_background .flip:nth-child(4n+3) .flip__front {
    background-color: $leading-color;
    border-color: $leading-color;
}
.flip_background .flip:nth-child(4n+4) .flip__front {
    background-color: $disabled-color;
    border-color: $disabled-color;
}