/////////////////////////////
//text
.text{
	margin-bottom: 15px;
	margin-top: 0;
	&:last-child{
		margin-bottom: 0;
	}
}

//text styles
.text_style-italic {
	font-style: italic;
}

//text weight
.text_weight {
	&-extra-light {
		font-weight: 200;
	}
	&-light {
		font-weight: 300;
	}
	&-regular {
		font-weight: 400;
	}
	&-semi-bold {
		font-weight: 600;
	}
	&-bold {
		font-weight: 700;
	}
	&-extra-bold {
		font-weight: 800;
	}
	&-black {
		font-weight: 900;
	}
}

@mixin text-atr($size: "") {
	//text align
	.text_align-left#{$size} {
		text-align: left;
	}

	.text_align-right#{$size} {
		text-align: right;
	}

	.text_align-center#{$size} {
		text-align: center;
	}

	//size
	.text_xs#{$size} {
		font-size: 10px;
	}

	.text_sm#{$size} {
		font-size: 12px;
	}

	.text_sm-1#{$size} {
		font-size: 14px;
	}

	.text_default#{$size} {
		font-size: $body-font-size;
	}

	.text_md#{$size} {
		font-size: 16px;
	}

	.text_lg#{$size} {
		font-size: 18px;
	}

	.text_lg-1#{$size}{
		font-size: 20px;
		line-height: 1.2;
	}

	.text_xl#{$size} {
		font-size: 25px;
		line-height: 1.1;
	}

	.text_xxl#{$size} {
		font-size: 30px;
		line-height: 1;
	}

	.text_hero#{$size} {
		font-size: 40px;
		line-height: 1;
	}

	//spacing
	.text_spacing-none#{$size} {
		margin-bottom: 0;
	}
	.text_spacing-xs#{$size} {
		margin-bottom: 5px;
	}
	.text_spacing-sm#{$size} {
		margin-bottom: 10px;
	}
	.text_spacing-md#{$size} {
		margin-bottom: 15px;
	}
	.text_spacing-lg#{$size} {
		margin-bottom: 20px;
	}
	.text_spacing-xl#{$size} {
		margin-bottom: 30px;
	}
	.text_spacing-xxl#{$size} {
		margin-bottom: 40px;
	}
}

// Generate
@include text-atr();
@include sm {
	@include text-atr("--sm");
}
@include md {
	@include text-atr("--md");
}
@include lg {
	@include text-atr("--lg");
}
@include xl {
	@include text-atr("--xl");
}

/////////////////////////////
//colors
//format
@each $colorClass, $value in $colorClass-palette {
	.text_#{$colorClass} {
		@extend .text;
		color: $value;
	}
}

//themes
.text_highlight {
	@extend .title;
	padding: 5px 8px;
	position: relative;
	border: 0 solid transparent;
	overflow: hidden;
	z-index: 1;
	border: 0px solid $gray-border-color;
}
.text_highlight-bordered {
	@extend .text_highlight;
	border-width: 1px;
}
.text_highlight-oval {
	@extend .text_highlight;
	padding: 8px 15px;
	@include corner(40px);
	display: inline-block;
	width: auto;
	&.group {
		display: inline-flex;
	}
}
.text_highlight-inline {
	display: inline
}

//format color
@each $colorClass, $value in $mixClass-palette {
	.text_highlight-oval-#{$colorClass} {
		@extend .text_highlight-oval;
		border-color: map-get($value, 'bg');
		color: map-get($value, 'bg');
		background-color: rgba($color: map-get($value, 'bg'), $alpha: 0.1);
	}
	.text_highlight-#{$colorClass} {
		@extend .text_highlight;
		border-color: map-get($value, 'bg');
		background-color: rgba($color: map-get($value, 'bg'), $alpha: 0.1);
		color: map-get($value, 'bg');
	}
	.text_highlight-#{$colorClass}-solid {
		@extend .text_highlight;
		border-color: map-get($value, 'bg');
		background-color: map-get($value, 'bg');
		color: map-get($value, 'color');
	}
}
@each $colorClass, $value in $colorClass-palette {
	.text_#{$colorClass} {
		@extend .text;
		color: $value;
	}
}

[data-badge] {
	position: relative;
}
.data-badge,
[data-badge]:before {
	content: attr(data-badge);
	border: 1px solid $light-color;
	@extend .text_xs;
	@include corner(100%);
	background-color: $secondary-color;
	display: block;
	color: $light-color;
	@include position(absolute, null, calc(100% - 10px), calc(100% - 10px), null, 22px, 22px );
	line-height: 20px;
	font-family: $font-family-primary;
	text-align: center;
	font-weight: bold;
}
.data-badge--warning-outline[data-badge]:before,
.data-badge--warning-outline {
	border-color: $leading-color;
	background-color: rgba($color: $leading-color, $alpha: 0.15);
	color: $leading-color;
	&:hover {
		color:  $light-color;
	}
}
.data-badge--warning[data-badge]:before,
.data-badge--warning {
	background-color: $leading-color;
}
.data-badge--warning-outline[data-badge]:hover:before,
.data-badge--warning-outline:hover,
.data-badge--warning[data-badge]:hover:before,
.data-badge--warning:hover {
	color:  $light-color;
	background-color: $secondary-color;
	border-color: $secondary-color;
}
.data-badge.data-badge--icon,
.data-badge--icon[data-badge]:before{
	color: $leading-color;
	content: "error";
	@include material-icons;
	background-color: initial;
	@include corner(0);
	border-color: transparent;
	font-size: 22px;
}
.data-badge.data-badge--icon:hover,
.data-badge--icon[data-badge]:hover:before {
	color: $secondary-color;
	background-color: initial;
}
.data-badge {
	content: none;
}
.data-badge--static {
	@include position(relative, null, auto, auto, null, null, null );
}

//size
.data-badge--md[data-badge]:before,
.data-badge--md {
	width: 27px;
    height: 27px;
    line-height: 24px;
}