/////////////////////////////
//title
.title {
	font-family: $font-family-secondary;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
	&:last-child{
		margin-bottom: 0;
	}
}

@mixin title-atr($size: "") {
	//text align
	//align
	.title_align-center#{$size} {
		text-align: center;
	}

	.title_align-left#{$size} {
		text-align: left;
	}

	//sizes
	.title_xxs#{$size} {
		font-size: 14px;
	}

	.title_xs#{$size} {
		font-size: 16px;
	}

	.title_xs-1#{$size} {
		font-size: 20px;
	}

	.title_sm#{$size} {
		font-size: 22px;
		line-height: 1.1;
	}

	.title_sm-1#{$size} {
		font-size: 25px;
		line-height: 1.1;
	}

	.title_md#{$size} {
		font-size: 30px;
		line-height: 1.1;
	}

	.title_lg#{$size} {
		font-size: 35px;
		line-height: 1;
	}

	.title_xl#{$size} {
		font-size: 40px;
		line-height: 1;
	}

	.title_xxl#{$size} {
		font-size: 45px;
		line-height: 1;
	}

	.title_hero#{$size} {
		font-size: 50px;
		line-height: 1;
	}

	//spacing
	.title_spacing-none#{$size} {
		margin-bottom: 0;
	}
	.title_spacing-xs#{$size} {
		margin-bottom: 5px;
	}
	.title_spacing-sm#{$size} {
		margin-bottom: 10px;
	}
	.title_spacing-md#{$size} {
		margin-bottom: 15px;
	}
	.title_spacing-lg#{$size} {
		margin-bottom: 20px;
	}
	.title_spacing-xl#{$size} {
		margin-bottom: 30px;
	}
	.title_spacing-xxl#{$size} {
		margin-bottom: 40px;
	}

}

// Generate
@include title-atr();
@include sm {
	@include title-atr("--sm");
}
@include md {
	@include title-atr("--md");
}
@include lg {
	@include title-atr("--lg");
}
@include xl {
	@include title-atr("--xl");
}

//weight
.title_weight {
	&-extra-light {
		font-weight: 200;
	}
	&-light {
		font-weight: 300;
	}
	&-regular {
		font-weight: 400;
	}
	&-semi-bold {
		font-weight: 600;
	}
	&-bold {
		font-weight: 700;
	}
	&-extra-bold {
		font-weight: 800;
	}
	&-black {
		font-weight: 900;
	}
}
//themes
.title_letter_profile-group {
	position: relative;
}
.title_letter_profile {
	width: 37px;
	height: 37px;
	@include corner(100%);
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
	display: block;
	font-size: 0;
	border: 0px solid transparent;
	@include background(cover, center, no-repeat);
	&::first-letter {
		font-size: 1rem;
		line-height: 37px;
		font-weight: bold;
	}
	span {
		display: inline-block;
		font-size: 0;
		line-height: 0;
		height: 100%;
	}
	span:first-child,
	span:nth-child(2) {
		&::first-letter {
			font-size: 1rem;
			line-height: 37px;
		}
	}
}
.title_letter_profile-sm {
	@extend .title_letter_profile;
	width: 25px;
	height: 25px;
	&::first-letter {
		line-height: 30px;
	}
	span:first-child,
	span:nth-child(2) {
		&::first-letter {
			font-size: 0.8rem;
			line-height: 25px;
		}
	}
}
.title_letter_profile-md {
	@extend .title_letter_profile;
	width: 48px;
	height: 48px;
	&::first-letter {
		font-size: 1.5rem;
		line-height: 48px;
	}
	span:first-child,
	span:nth-child(2) {
		&::first-letter {
			font-size: 1.3rem;
			line-height: 48px;
		}
	}
}
.title_letter_profile-lg {
	@extend .title_letter_profile;
	width: 60px;
	height: 60px;
	&::first-letter {
		font-size: 2rem;
		line-height: 60px;
	}
	span:first-child,
	span:nth-child(2) {
		&::first-letter {
			font-size: 1.3rem;
			line-height: 60px;
		}
	}
}

// fluid
.title_letter_profile-fluid-lg {
	@include sm {
		width: 50px;
		height: 50px;
		&::first-letter {
			font-size: 1.5rem;
			line-height: 50px;
		}
		span:first-child,
		span:nth-child(2) {
			&::first-letter {
				font-size: 1.3rem;
				line-height: 50px;
			}
		}
	}
	@include md {
		width: 60px;
		height: 60px;
		&::first-letter {
			font-size: 2rem;
			line-height: 60px;
		}
		span:first-child,
		span:nth-child(2) {
			&::first-letter {
				font-size: 1.3rem;
				line-height: 60px;
			}
		}
	}
}

.title_letter_profile-outline {
	border-width: 2px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.title_letter_profile-outline-sm {
	border-width: 1px;
}
.title_letter_profile[style*="background-image"],
.title_letter_profile[style*="background-image"]:hover,
.title_letter_profile[style*="background-image"]:first-letter,
.title_letter_profile[data-gender="person"],
.title_letter_profile[data-gender="person"]:hover,
.title_letter_profile[data-gender="person"]:first-letter,
.title_letter_profile[data-gender="male"],
.title_letter_profile[data-gender="male"]:hover,
.title_letter_profile[data-gender="male"]:first-letter,
.title_letter_profile[data-gender="female"],
.title_letter_profile[data-gender="female"]:hover,
.title_letter_profile[data-gender="female"]:first-letter {
	background-color: $light-color;
	color: transparent;
	font-size: 0;
}
[data-gender="female"] {
	background-image: url(../images/girl-placeholder.svg);
}
[data-gender="male"] {
	background-image: url(../images/boy-placeholder.svg);
}
[data-gender="person"] {
	background-image: url(../images/person-placeholder.svg);
}

/////////////////////////////
//colors
//format
@each $colorClass, $value in $title_letter_profile-palette {
	.title_letter_profile-#{$colorClass} {
		@extend .title_letter_profile;
		background-color: map-get($value, 'bg');
		color: map-get($value, 'color');
		border-color: map-get($value, 'border');
		&:hover {
			color: map-get($value, 'color');
		}
	}
	.title_letter_profile-shadow-#{$colorClass} {
		@include shadow(0 0 0 0.25rem rgba($color: map-get($value, 'bg'), $alpha: 0.2));
	}
}
@each $colorClass, $value in $colorClass-palette {
	.title_#{$colorClass} {
		@extend .title;
		color: $value;
	}
	.title_letter_profile-outline-#{$colorClass} {
		@extend .title_letter_profile-outline;
		border-color: $value;
	}
}